##########################################################################
# MARY TTS configuration file nl.config
##########################################################################

name = nl
nl.version = 1.0.0

locale = nl

###########################################################################
############################## The Modules  ###############################
###########################################################################
modules.classes.list = \
       marytts.language.nl.Phonemiser  \
       marytts.language.nl.Preprocess \
       marytts.modules.OpenNLPPosTagger(nl,nl.pos) \


####################################################################
####################### Module settings  ###########################
####################################################################

# Phonemiser settings
nl.allophoneset = jar:/marytts/language/nl/lexicon/allophones.nl.xml
nl.lexicon = jar:/marytts/language/nl/lexicon/nl_lexicon.fst
nl.lettertosound = jar:/marytts/language/nl/lexicon/nl.lts
#nl.userdict = MARY_BASE/user-dictionaries/userdict-nl.txt

nl.pos.model = jar:/marytts/language/de/tagger/de-pos-maxent.bin
#de.pos.posMap = MARY_BASE/lib/modules/de/tagger/posMap.txt
nl.pos.punct.regex = \\$,|\\$.|\\$\\(|\\$\\?|\\$;|\\$!

# Minimalistic POS tagger settings
#nl.partsofspeech.fst = jar:/marytts/language/nl/tagger/nl_pos.fst
#nl.partsofspeech.punctuation = ,.?!;

# Feature processor manager
featuremanager.classes.list = \
	marytts.features.FeatureProcessorManager(nl)
